html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-image: url(./images/newYear.jpg);
  background-size: cover;
  background-position-y: -120px;
}

.title {
  font-family: cursive;
  font-size: 40px;
  color: rgba(49, 5, 85, 0.932);
  text-shadow: 5px 5px 10px white;
  text-align: center;
  text-transform: uppercase;
}
.timer {
  display: flex;
  justify-content: center;
  height: 140px;
}

.field {
  border: solid 1px #3b2c47b9;
  background-color: rgba(55, 46, 182, 0.644);
  padding: 0 40px 20px;
  color: rgb(246, 250, 250);
  border-radius: 10px;
}
.field:not(:last-child) {
  margin-right: 5px;
}
.field span {
  display: block;
  text-align: center;
}

.value {
  font-size: 90px;
  font-weight: 900;
}

.label {
  font-size: 20px;
}
